<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="jquery.js" charset="utf-8"></script>
	<script src="main.js" charset="utf-8"></script>
    

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <style type="text/css">

    	.chart div {
		  font: 10px sans-serif;
		  background-color: steelblue;
		  text-align: right;
		  padding: 3px;
		  margin: 1px;
		  color: white;
		}

    	


    </style>

  </head>

  <body>


  	<div class="chart">
	  <div style="width: 40px;">4</div>
	  <div style="width: 80px;">8</div>
	  <div style="width: 150px;">15</div>
	  <div style="width: 160px;">16</div>
	  <div style="width: 230px;">23</div>
	  <div style="width: 420px;">42</div>
	</div>


  </body>
</html>
