<!DOCTYPE HTML>
<html>
<head>
	<!-- coding : utf-8 -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- cache : off -->
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="expires" content="0">

	<!-- Lastest IE version -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- Page title -->
	<title>glance - the visual dict</title>

	<meta name="description" content="glance - a visualization dictionary">

	<!-- CSS -->
	<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/util.css" />

	<style>

		body {
		  font: 10px sans-serif;
		}

		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}


	</style>


	<!-- jQuery -->
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/lib.js"></script>
	<script type="text/javascript" src="/static/js/Chart.min.js"></script>
	<script src="/static/js/d3.v3.min.js" charset="utf-8"></script>
    <!-- <link rel="shortcut icon" href="static/img/favicon.png" /> -->
    
</head>

<body>
	<script>

		var margin = {top: 20, right: 20, bottom: 30, left: 40},
		    width = 960 - margin.left - margin.right,
		    height = 500 - margin.top - margin.bottom;

		var x = d3.scale.linear()
		    .range([0, width]);

		var y = d3.scale.linear()
		    .range([height, 0]);

		var color = d3.scale.category10();

		var xAxis = d3.svg.axis()
		    .scale(x)
		    .orient("bottom");

		var yAxis = d3.svg.axis()
		    .scale(y)
		    .orient("left");

		var svg = d3.select("body").append("svg")
		    .attr("width", width + margin.left + margin.right)
		    .attr("height", height + margin.top + margin.bottom)
		  .append("g")
		    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

		d3.tsv("/static/data/reduced_smallMatrix", function(error, data) {

		  data.forEach(function(d) {
		    d.xdata = +d.xdata;
		    d.ydata = +d.ydata;
		  });


		  x.domain(d3.extent(data, function(d) { return d.xdata; })).nice();
		  y.domain(d3.extent(data, function(d) { return d.ydata; })).nice();

		  svg.append("g")
		      .attr("class", "x axis")
		      .attr("transform", "translate(0," + height + ")")
		      .call(xAxis)
		    .append("text")
		      .attr("class", "label")
		      .attr("x", width)
		      .attr("y", -6)
		      .style("text-anchor", "end")
		      .text("X");

		  svg.append("g")
		      .attr("class", "y axis")
		      .call(yAxis)
		    .append("text")
		      .attr("class", "label")
		      .attr("transform", "rotate(-90)")
		      .attr("y", 6)
		      .attr("dy", ".71em")
		      .style("text-anchor", "end")
		      .text("Y")

		  svg.selectAll(".dot")
		      .data(data)
		    .enter().append("circle")
		      .attr("class", "dot")
		      .attr("r", 1.5)
		      .attr("cx", function(d) { return x(d.xdata); })
		      .attr("cy", function(d) { return y(d.ydata); })
		      .style("fill", function(d) { return color(d.class); });

		  var legend = svg.selectAll(".legend")
		      .data(color.domain())
		    .enter().append("g")
		      .attr("class", "legend")
		      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

		  legend.append("rect")
		      .attr("x", width - 18)
		      .attr("width", 18)
		      .attr("height", 18)
		      .style("fill", color);

		  legend.append("text")
		      .attr("x", width - 24)
		      .attr("y", 9)
		      .attr("dy", ".35em")
		      .style("text-anchor", "end")
		      .text(function(d) { return d; });

	});

	</script>
</body>






</html>