<!DOCTYPE HTML>
<html>
<head>
	<!-- coding : utf-8 -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- cache : off -->
	<!-- <meta http-equiv="cache-control" content="no-cache"> -->
	<!-- <meta http-equiv="pragma" content="no-cache"> -->
	<!-- <meta http-equiv="expires" content="0">   -->
	<!-- IE9 -->
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<!-- <link rel="icon" type="image/png" href="static/img/favicon.png" /> -->
	<!-- Page title -->
	<title>glance - the visual dict</title>
	
	<!-- CSS -->
    <link rel="stylesheet" href="/static/css/util.css" type="text/css">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">

    <!-- <link rel="shortcut icon" href="./static/img/favicon.png" type="image/png"> -->

	<!-- jQuery -->
	<script type="text/javascript" src="/static/js/jquery.js"></script>

	
	<!-- // <script type="text/javascript" src="/static/js/words.js"></script> -->
	<script type="text/javascript" src="/static/js/lib.js"></script>
	<script type="text/javascript" src="/static/js/main.js"></script>
	
</head>

<body>
	<div class="container font-metro">

		<div id="title" class="font-metro">Tell me the word level</div>

		<table>
			<tr>
				<td id="input-wrap">
					<input id="search-test" type="input" class="search"></input>
				</td>
				<td id="pick-wrap">
					<span>phytoplankton</span>
					<span>assiduous</span>
					<span>precursor</span>
					<span>resume</span>
					<span>apple</span>
				</td>
			</tr>
		</table>

		<div id="exam-type-wrap">
			<span id="GRE" class="hide">GRE</span>
			<span id="TOEFL" class="hide">TOEFL</span>
			<span id="IELTS" class="hide">IELTS</span>
			<span id="GMAT" class="hide">GMAT</span>
			<span id="SAT" class="hide">SAT</span>
			<span id="TOEIC" class="hide">TOEIC</span>
			<span id="China-6" class="hide">China6</span>
			<span id="China-4" class="hide">China4</span>
			<span id="China-Senior" class="hide">Senior</span>
			<span id="China-Junior" class="hide">Junior</span>
		</div>

	</div>
</body>

</html>