<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Structure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <script src="/static/js/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/js/jquery.js" charset="utf-8"></script>
	<script src="/static/js/structure.js" charset="utf-8"></script>
	
	<style type="text/css">

		.node circle {
		  fill: #fff;
		  stroke: steelblue;
		  stroke-width: 1.5px;
		}

		.node {
		  font: 18px sans-serif;
		}

		.link {
		  fill: none;
		  stroke: #ccc;
		  stroke-width: 1.5px;
		}

	</style>


  </head>

  <body>



  </body>
</html>
