body {clear: both; margin: 0; padding: 0; width: 100%; height: 100%; background: #11586f;}

body .container {
	width: 100%; height: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	min-height: 720px;
	width: 900px;
}

h1{
	text-align: center;
}

/* global style */
.axis path {

    fill: none;
}

.row-field{
	text-align: center;
}




/* character style */
#charDistChart rect{
	fill:white;
}
#charDistChart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

/* word position style */
#wordPositionChart rect{
	fill:white;
}
#wordPositionChart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}


/* pos tag */
#posChart text{

	fill: white;

}

/* discourse dist */
#discoursePieChart text{
	
	fill: white;

}


#slogan, #slogan-describe { width: 100%;  text-align: center; min-height: 25%; margin: 0; }
#slogan { padding-top:96px; color: white; font-size: 15px; }
#slogan-describe {letter-spacing: 1px; padding-top: 24px; color: #ddd; font-size: 20px;}

#bottom {width: 100%; height: 40%; /*background: black;*/ position: absolute; bottom: 24px;}

#bottom div { width: 50%; height: 100%; margin: 0 auto; /*background: white;*/ }
#bottom div li {list-style: none; min-width: 3.845%; height: 100%; display: inline-block; /*background: green;*/}

/*#bottom div li*/

#bottom div li .bar-wrap { width: 100%; height: 90%; /*background: none;*/ position: relative; border-bottom: 1px solid #aaa}
#bottom div li .bar-wrap .bar {width: 64%; height: 0px; background: #eee; position: absolute; bottom: 0px; left: 18%;}
#bottom div li .label { text-align: center; width: 100%; height: 10%; background: none; color: #ccc; font-size: 16px;}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}