/* ---------------- utility ---------------- */

@font-face {
	font-family: "Segoe UI light";
	src: url('segoe_ui_light.ttf');
}

.m-font {font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, arial, sans-serif;}
.yuchiao, .font-metro {font-family: "Segoe UI light"}

.hide {display: none;}
.shadow {box-shadow: 2px 1px 3px #DADADA;}
