@import "compass/css3";
/*@import "compass/css3/inline-block";*/
@import 'sass-bootstrap/lib/bootstrap';


@font-face {
    font-family: "Segoe UI light";
    src: url('segoe_ui_light.ttf');
}
@font-face {
    font-weight: "Raleway";
    src: url('Raleway.woff');
}

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

$header-height: 72px;
$content-wrap-border-color: #ccc;
$glance-theme-fonts: "Segoe UI light", cursive, sans-serif;

$glance-theme-color-green: #0DD476;
$glance-theme-color-wheat: #FAEDD2;

$function-nav-bgcolor: #ccc;
$function-nav-bgcolor-highlight: #f4f4f4;
$function-nav-bordercolor: #d0d0d0;

$nav-item-height: 48px;


$nav-arrow-position: 16.5px;
$nav-arrow-border-position: 15px;

$glance-font-thin: "Segoe UI light";
$glance-font-mono: "Segoe UI light";

$nav-left-margin: 12px;
$body-background-color: #FEFEFE;
$glance-theme-color: #d60909;
$glance-theme-color-dark: #9f010b;

/*$glance-font-main: 'Gruppo';*/
$glance-font-sans: 'Josefin Sans';



@mixin nav-highlight($bdcolor, $bgcolor, $show_triangle) {
    border-top: 1px dotted $bdcolor;
    border-bottom: 1px solid $bdcolor;

    background: $bgcolor;
    .nav-arrow, .nav-arrow-border {
        visibility: $show_triangle;
        /*visibility: visible;*/
    }
    cursor: pointer;  
}
@mixin arrow-left($arrowColor, $op) {
    @include opacity($op);
    width: 0; 
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;     
    border-right: 8px solid $arrowColor;
}
@mixin arrow-right($arrowColor) {
    border-color: transparent transparent transparent $arrowColor;
    border-style: solid;
    border-width: 7px;
}
@mixin arrow-right-border($borderColr) {
    border-color: transparent transparent transparent $borderColr;
    border-style: solid;
    border-width: 8px;
}



// .container {
//     min-width: 100%;
//     min-width: 768px;
//     margin-left: 0;
//     // height: 100%;
//     // overflow: hidden;
//     margin-top: 0;
//     top: 0;
// }
/* Space out content a bit */
// body {
//     padding-bottom: 20px;
//     background: url("../images/fabric_plaid.png");
// }
html, body {
    width: 100%;
    height: 100%;
    // -webkit-font-smoothing: antialiased;
}
.fill {
    height: 100%;
}
.container-fluid {

}
.container-fluid, .row, .col {
   padding: 0;
   margin: 0; 
}

$nav-width: 96px;
$header-front-color: white;
$header-back-color: $glance-theme-color;
$header-border-color: #2B2B30;

#input-group-wrap {
    // width: 384px;
    // height: 36px;
    position: relative;
    top: 16px;
    float: right;
    background: white;
    border-radius: 5px;
    // border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;    
    .wrap-part {
        // height: 100%;
        position: relative;
        // background: white;
        float: right;
    }
    #search-bars-wrap {
        // width: 280px;
        // background: white;

        
        #search-bar-group {
            // height: 84%;
            // width: 98%;
            // background: brown;
            position: relative;
            margin: 0 0 0 auto;
            // top: 8%;
            #search-bars {
                padding: 4px;
                
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;                
                #vs-wrap {
                    display: none;
                    position: absolute;
                    background: green;
                    border-radius: 11px;
                    padding: 3px;
                    width: 20px;
                    height: 20px;
                    line-height: 13px;
                    font-size: 12px;
                    color: white;
                    font-family: $glance-font-thin;
                    text-align: center;
                    top: 5px;
                    right: -10px;
                    z-index: 10;
                }
                .search-bar-wrap {
                    /* float: left; */
                    position: relative;
                    display: inline-block;
                    // background: black;
                    
                    &:nth-child(1) {
                        margin-left: -3px;     
                        border-right: 1px solid #ccc;
                    }
                    input {
                        // float: left;
                        // width: 128px;
                        height: 24px;
                        border: 0;
                        outline: 0;
                        padding-left: 9px;
                        padding-right: 6px;
                        margin: 3px;
                        font-family: $glance-font-thin;
                        font-size: 15.5px;
                        letter-spacing: 1px;
                        // background: wheat;

                    }
                    #basic-search-bar {
                        width: 128px;
                    }
                    #compare-search-bar {
                        width: 0px;
                    }
                }
            }            
        }
        // input {
        //     background: white;
            
        //     height: 24px;
        //     width: 128px;
        //     position: relative;
            
        //     float: left;
        //     padding: 0;
        //     margin: 0;
        //     border: 0;
        //     outline: none;
        //     // border: 0;
        //     font-size: 15px;
        //     font-family: $glance-font-thin;
        // }
    }
    #search-btn-wrap {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;        
        width: 40px;
        height: 40px;
        button {
            background: $header-border-color;
            height: 100%;
            outline: none;            
            img {
                width: 14px;
                height: 14px;
            }
        }
    }

}
// bootstrap default
.tab-content {
    margin-top: 12px;
    .tab-pane {
        max-width: 640px;
        .panel-group {

            .panel {
                margin-bottom: 12px!important;
                // border-color: #f5f5f5;
                border: 0;

                @include border-radius(3px);
                &:hover {
                    cursor: pointer;
                    .panel-heading {
                        background: $glance-theme-color-wheat;
                    }
                }    
                .heading-selected {
                    background: $glance-theme-color-wheat;
                }                 
                .panel-heading {
                    padding: 2px 0 0 0;
                    box-shadow: 0px 1px 5px #888;
                    .panel-title {
                        min-height: 32px;
                        line-height: 24px;
                        padding: 6px 30px 10px 14px;
                        a {
                            font-size: 14px;
                            font-family: $glance-font-mono;
                            &:hover {
                                text-decoration: none;
                            }
                            .panel-title-pos {
                                font-size: 1.5em;
                                
                            }
                            .panel-title-definition {

                            }

                        }             
                    }
                    svg {
                        position: relative;
                        bottom: -1px;                
                    }
                }
                .panel-collapse{
                    border-bottom: 1px dashed #ddd;
                    border-right: 1px dashed #ddd;
                    border-left: 1px dashed #ddd;
                    .panel-body {
                        b {
                            border-bottom: 1px dashed $glance-theme-color;
                            padding-left: 3px;
                        }
                        ul {
                            margin-top: 4px;
                            li {
                                // text-transform: capitalize;
                            }
                        }
                    }
                }     
            }
        }
    }
}
.wordDefinition{
    .nav-pills {
        font-family: monospace;
        li {
            a {
                // @include border-radius(2px);
                /*@include border-bottom-radius(px);*/
            }
        }
        li.active {
            a {
                color: #444;
                background-color: $glance-theme-color-wheat;
                .badge {
                    background: #428bca;
                    color: white;
                }
            }
        }
    }
    color: #444;
}
.container-fluid {

    header {
        position: fixed;
        width: 100%;
        height: $header-height;
        background: $header-back-color;
        z-index: 5;
        // border-bottom: 1px solid $header-border-color;

        #logo-wrap {
            position: relative;
            width: 192px;
            height: $header-height;
            line-height: $header-height;
            float: left;

            #logo {
                font-size: 34px;
                font-family: $glance-font-thin;
                text-transform: uppercase;
                color: $header-front-color;
                letter-spacing: 2.5px;
            }
        }

        .menu-btn-wrap {
            position: relative;
            width: $header-height;
            height: $header-height;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            float: left;
            // @include border-radius(2px);

            .menu-btn {
                width: 36px;
                height: 20px;
                top: 30px;
                position: relative;
                margin: 0 auto;
                // margin: 10px 0;
                .menu-btn-bar {
                    background: white;
                    width: 100%;
                    height: 4px;
                    margin: 0 auto 3px auto;
                }
            }
        }

        #side-nav-wrap {
            position: fixed;
            width: $nav-width;
            height: 100%;
            display: none;
            
            top: $header-height - 1;
            left: 0;

            margin: 0;
            padding: 0;

            
            

            nav {
                height: 100%;
                ul.part {
                    width: $nav-width;
                }
                ul.hide-part {
                    z-index: 0;
                    margin-left: -$nav-width;
                }
                ul.open-all {
                    width: 100%;
                    div.nav-full {
                        visibility: visible;
                    }
                    div.nav-part {
                        visibility: hidden;
                    }
                }
                ul.open-part {
                    z-index: 100;
                    div.nav-full {
                        visibility: hidden;
                    }
                    div.nav-part {
                        visibility: visible;
                    }                    
                }
                ul {
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    border-right: 1px solid #ccc;
                    // background: white;
                    background: $header-border-color;
                    box-shadow: 1px 3px 5px #aaa;
                    color: white;

                    li {
                        height: $nav-item-height;
                        line-height: $nav-item-height;

                        &:hover {
                            background: $glance-theme-color;
                            cursor: pointer;
                        }

                        div {  
                            position: relative;
                            height: 100%;
                            width: 100%;
                            text-align: left;
                            padding-left: 12px;

                            font-family: $glance-font-thin;
                            font-size: 14px;

                        }
                    }
                }
            }
        }
    }

    section {
        top: $header-height * 2;
        // min-height: 480px;
        position: relative;
        display: block;
        z-index: 1;
        // border-bottom: 1px solid #888;
        overflow-x: hidden;

        background: url("../images/fabric_plaid.png");
        .grid-header {
            margin: 0 1% 0 1%;
            border-bottom: 1px dashed rgba(234, 234, 234, 1);
        }
        .grid-body {
            margin: 12px 1% 12px 1%;
            border-bottom: 1px solid rgba(134, 134, 134, 0.54);
            
        }
        .compare-grid {
            max-width: 48%;
            border-right: 1px solid rgba(134, 134, 134, 0.29);
            background: white;
            

            .content-wrap {
                max-width: 95%;
                // border-bottom: 1px dashed #cccccc;
            }
        }
        .full-grid {
            .content-wrap {
                max-width: 720px;

            }
        }
        &:nth-last-child(1) {
            padding-bottom: 64px;
        }
        &:nth-child(2) {
            position: fixed;
            top: 72px;
            display: block;
            z-index: 100;
            width: 100%; 
                       
            // position: fixed;
            // width: 100%;
            // top: 72px;
            // z-index: 100;
            // padding-bottom: 0;
            // border-right: 0;
            // border-bottom: 
            // .compaere-grid {
                
            // }

        }
        .query-article {
            font-size: 28px;
            text-transform: capitalize;
            letter-spacing: 1px;
        }

        .compare-grid, .full-grid {
            .content-wrap {

                position: relative;

                min-width: 460px;
                
                // min-height: 360px;
                // visibility: hidden;

                padding: 24px 20px;
                margin: 0 auto;

                background: white;
                // border-bottom: 1px solid $content-wrap-border-color;

                // @include border-radius(2px);

                font-family: $glance-theme-fonts;
                .content {
                    // #wordSenseTree {
                    //     overflow-x: 
                    // }
                    .content-tag {
                        font-size: 1.25em;
                        color: $glance-theme-color;
                        margin-bottom: 15px;
                    }      
                    .content-body {
                        overflow-x: scroll;
                        svg {
                            display: block;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }

    }
}





// #accordion{
//     .panel-group .panel {
//         @include border-radius(3px);
//     }
//     .panel{

//         /*width: 480px;*/

//         .panel-heading{



//             .panel-title{

//                 font-family: $glance-font-thin;
//                 font-size: 14px;

//                 a {
//                     text-decoration: none;
//                     &:hover {
//                         color: $glance-theme-color!important;

//                         .panel-title-definition {
//                             text-decoration: underline;
//                         }
//                     }
//                 }
//                 .panel-title-pos{
//                     color: #555;
//                     font-size: 2.0em;
//                 }
//                 .panel-title-definition{
//                     /*font-size:;*/
//                     color: #999;
//                 }
//             }
//         }

//         .panel-collapse{

//             .panel-body{
//                 color: black;

//             }
//         }

//     }
    
// }

// .container-fluid {
//     // width: 100%;
//     padding: 0;
//     margin: 0;
//     overflow: hidden;
//     .col {
//         padding: 0;
//         margin: 0;
//         &:nth-child(1) {
//             min-width: 96px;
//             background: red;
//         }
//         &:nth-child(2) {
//             min-width: 720px;
//             background: wheat;
//             overflow-y: auto;
//         }
//     }
//     #nav-wrap {
//         background: yellow;
//         .selected {
//             @include nav-highlight( $function-nav-bgcolor, $function-nav-bgcolor-highlight, visible );
//         }        
//         .nav-body {
//             width: 90%;
//             height: 100%;
            
//         }
//     }
//     #content-wrap {
//         background: white;
//         .content-body {
//             width: 90%;
//             height: 2048px;
            
//             margin-bottom: 48px;
//             margin-top: 48px;
//         }
//         .cblock {
//             // max-width: 45%;
//             height: 480px;
//             margin: 15px;
//             background: gray;
//         }
//     }
//     .row {
//         padding: 0;
//         margin: 0;
//     }
// }


/* glance setting */
/*$body-background-color: #11586f;*/


/*  -------------------------------- mixins -------------------------------- */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a {
    text-decoration: none;
    color: $glance-theme-color;
    &:hover {
        text-decoration: underline;
    }
    &:avtive {}
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        // min-width: 100%;
        // margin-left: 0;
        // height: 100%;
        // // overflow: hidden;
        // margin-top: 0;
        // top: 0;
    }
}

.input-wrap {
    width: 100%;
    height: 30px;
    position: relative;
    top: 22px;

    /*font-family: 'Gruppo', 'Josefin Sans', cursive, sans-serif;*/
    font-family: $glance-font-thin;

    div {
        float: left;
        position: relative;
        height: 100%;        
    }
    .input-area-wrap {
        max-width: 134px;
        margin-left: 12px;
    }
    .input-btn-wrap {
        width: 32px;
        height: 26px;
        background: $glance-theme-color;
        
        /*border-top: 1px solid #a9010c;*/
        border-top: 1px solid $glance-theme-color;
        border-right: 1px solid $glance-theme-color-dark;
        border-bottom: 1px solid $glance-theme-color;
        border-left: 0;

        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;

        span {
            position: absolute;
        }
        .input-btn {
            left: 9px;
            line-height: 23px;
        }
        .input-btn-triangle {
            @include arrow-left($glance-theme-color, 1.0);
            left: -7px;
            top: 7px;            
        }
    }

    #input-area {
        outline: none;
        border: 0;
        width: 160px;
        height: 26px;
        padding: 5px;
        font-size: 13px;
        border: 1px solid #ccc;
        font-family: $glance-font-thin;
        border-right: 0;   
        &:hover {
            border: 1px solid #a8a8a8;
            border-right: 0;
        }
        &:focus {
            border: 1px solid #d60909;
            border-right: 0;
        }
    }
}
/* ================================================================ */






/*#input-block {
    border-bottom: 1px dotted $function-nav-bgcolor;
}*/

#content-container {



    min-width: 610px;
    max-width: 960px;

    left: 236px;
    margin-top: 20px;
    margin-bottom: 128px;

    position: absolute;

    .function-content, {
        width: 100%;
        position: relative;

        border: 1px solid $function-nav-bgcolor;
        margin-bottom: 12px;
        padding: 26px;


        background: white;

        @include border-radius(3px);
        font-family: $glance-font-thin;
    }
    .block {
        
        /*height: 480px;*/
        
        min-height: 64px;
        
        
        div {
            // width: 100%;
            min-height: 36px;
        }
        .function-tag {
            
            color: $glance-theme-color;
            font-size: 16px;

            /*@include transform(rotate(90deg) );*/
            /*@include rotate()*/

        }
        .function-aera {

        }
    }
    .header {
        height: 136px;
        background: white;
        margin-top: 36px;
        font-size: 1.2em;
        strong {
            font-size: 1.5em;
            font-family: 'Just Me Again Down Here', cursive;
            color: #444;
        }


    }    
}


.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

polyline{
    opacity: .3;
    stroke: gray;
    stroke-width: 2px;
    fill: none;
}

.list-block {
    width: 100%;
    min-height: 55px;

    background: white;

    /*border: 1px solid $function-nav-bgcolor;*/
    border: 0;
    z-index: 1;
    position: relative; 
    font-family: $glance-font-thin;

    &:nth-child(1) {
        height: 96px;
        border-bottom: 1px dashed #aaa;

        .logo-wrap {
            position: absolute;
            top: 16px;
            span {
                /*font-family: $glance-font-thin;*/
                font-size: 12px;
                color: #888;
                margin-left: $nav-left-margin;
                padding-left: 6px;
            }
            #glance-logo{
                /*font-family: $glance-font-thin;*/
                text-transform: uppercase;
                font-size: 36px;
                display: block;
                margin-left: $nav-left-margin;
                color: $glance-theme-color;
                
            }            
        }
    }
    &:nth-last-child(1) {
        position: absolute;
        bottom: 0;
        min-height: 12px;
        max-height: 55px;
        padding-bottom: 12px;
        div {
            position: relative;
            margin-left: $nav-left-margin;
            font-size: 0.8em; 
            color: #444;

            a {
                font-size: 0.9em;
            }
        }

    }
}



#nav-greeting {
    height: 72px;
}
.function-nav-block {

    border-top: 1px solid transparent;
    border-bottom: 1px dotted $function-nav-bgcolor;

    &:hover {
        @include nav-highlight( $function-nav-bgcolor, $function-nav-bgcolor-highlight, hidden  );
    }
    .nav-arrow, .nav-arrow-border {
        position: absolute;
        visibility: hidden;
    }
    .nav-arrow {
        @include arrow-right($function-nav-bgcolor-highlight);
        top: $nav-arrow-position;
        right: -13px;
        z-index: 3;
    }
    .nav-arrow-border {
       @include arrow-right-border($function-nav-bgcolor);
        
        top: $nav-arrow-border-position;
        right: -16px;
        z-index: 2;
    }
    .function-nav-content {
        position: relative;
        width: 100%;
        height: 56px;
        /*left: $nav-left-margin;*/

        div {
            position: relative;
            /*margin: 0 auto;*/
            max-width: 128px;
            height: 16px;
            top: 16px;
            /*font-family: 'Helvetica', $glance-font-sans, $glance-font-main;*/
            font-family: $glance-font-thin;
            margin-left: $nav-left-margin;
        }
        .content-head {
            color: $glance-theme-color;
        }
        .content-body {
            
            font-size: 0.9em;
            color: #bbb;
        }
    }
}

/* ================================================================ */




.wordPosition{
    fill:#CCC;
}

.nav{
 
 
    .pos-tab-label{
        font-size: 1.5em;
    }
 
 
}



.hide {
    display: none;
}




div.tooltip {
    position: absolute;         /* reference for measurement */
    text-align: left;
    pointer-events: none;           /* 'none' tells the mouse to ignore the rectangle */
    background: #FFFFEF;
    
    
    
    border: 1px solid #D5D5D5;
    font-family: arial,helvetica,sans-serif;
    font-size: 1.0em;
    color: #333;
    padding: 5px;
    border-radius: 1px;
    background: rgba(255,255,255,0.9);
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border:1px solid rgba(200,200,200,0.85);
}

div.tooltipTail {
    position: absolute;
    left:-7px;
    top: 72px;
    width: 7px;
    height: 13px;
    background: url("images/tail_white.png") 50% 0%;
}


#sequence {
  width: 600px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 140px;
  text-align: center;
  color: #666;
  
}

#percentage {
  font-size: 1.5em;
}

