<!-- <!DOCTYPE HTML> -->
<html>
<head>
	<!-- coding : utf-8 -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- cache : off -->
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="expires" content="0">

	<!-- Lastest IE version -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- Page title -->
	<title>glance - visual dict</title>

	<meta name="description" content="glance - a visualization dictionary">

	<!-- CSS -->
	<link type="text/css" rel="stylesheet" href="/static/css/index.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/util.css" />

	<!-- jQuery -->
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<!-- // <script type="text/javascript" src="/static/js/lib.js"></script> -->
    <script type="text/javascript" src="/static/js/index.js"></script>

    <!-- <link rel="shortcut icon" href="static/img/favicon.png" /> -->
</head>

<body>
	<div class="container font-metro">
		<pre id="slogan">
         dP                                    
         88                                    
.d8888b. 88 .d8888b. 88d888b. .d8888b. .d8888b.
88'  `88 88 88'  `88 88'  `88 88'  `"" 88ooood8
88.  .88 88 88.  .88 88    88 88.  ... 88.  ...
`8888P88 dP `88888P8 dP    dP `88888P' `88888P'
     .88                                       
 d8888P                                        
		</pre>                                   
		<div id="slogan-describe">dictionary visualization</div>

		
		<div id="bottom" class="font-metro">
			<div id="visual-wrap">

			</div>
		</div>
	</div>
</body>

</html>
