<!DOCTYPE HTML>
<html>
<head>
	<!-- coding : utf-8 -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- cache : off -->
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="expires" content="0">

	<!-- Lastest IE version -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- Page title -->
	<title>glance - the visual dict</title>

	<meta name="description" content="glance - a visualization dictionary">

	<!-- CSS -->
	<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
	<link type="text/css" rel="stylesheet" href="/static/css/util.css" />

	<!-- jQuery -->
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/lib.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>

    <!-- <link rel="shortcut icon" href="static/img/favicon.png" /> -->
</head>

<body>
	<div class="container font-metro">
		<div id="title" class="font-metro">Tell me the Part-of-Speech</div>
		<input class='search' id='search-usages' type='text'/>

		<table id="usages-container">
		</table>
	</div>
</body>

</html>